body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f7f7f7;
  margin: 0;
  padding: 20px;
}

h1 {
  margin-bottom: 40px;
  color: #222;
}

.bandera-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.color-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="range"] {
  width: 150px;
  margin: 10px 0;
}

.color-box {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.escudo-img {
  width: 100px;
  height: auto;
}

/* Tabla */
table {
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 30px;
  width: 60%;
  max-width: 600px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 12px;
  text-align: center;
}

th {
  background-color: #eee;
}